# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules
.npm
.yarn-integrity

# Dist
dist
dist-ssr
desktop-dist

# Local env files
.env
.env.*
!.env.example

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
.DS_Store

# Electron-builder
dist_electron

# Vite
*.local
